@use '~@angular/material/theming' as material;

@mixin app-banner-theme($theme) {
  $theme-colors: material.mat-get-color-config($theme);
  $success-color-palette: map-get($theme, success);
  $info-color-palette: map-get($theme, info);
  $warn-color-palette: map-get($theme, warn);
  $backgrounds: map-get($theme, background);

  app-banner {
    background-color: material.mat-color($backgrounds, card);
    &.app-banner-success {
      background-color: material.mat-color($success-color-palette, lighter);
    }
    &.app-banner-info {
      background-color: material.mat-color($info-color-palette, lighter);
    }
    &.app-banner-warn {
      background-color: material.mat-color($warn-color-palette, lighter);
    }
  }
}
