@use '~@angular/material/theming' as material;

$app-banner-density-config: (
  height: (
    default: 120px,
    maximum: 150px,
    minimum: 20px,
  )
);

@mixin app-banner-density($density-config){
  $density-scale: material.mat-get-density-config($density-config);
  $height: material.mat-private-density-prop-value(
    $app-banner-density-config,
    $density-scale,
    height
  );

  app-banner {
    min-height: $height
  }
}

@mixin app-banner-typography($typography-config) {
  app-banner {
    .heading {
      @include material.mat-typography-level-to-styles($typography-config, title);
      line-height: material.mat-line-height($typography-config, title);
    }

    .message {
      @include material.mat-typography-level-to-styles($typography-config, body-1);
    }
  }
}

@mixin app-banner-theme($theme) {
  $theme-colors: material.mat-get-color-config($theme);
  $success-color-palette: map-get($theme, success);
  $info-color-palette: map-get($theme, info);
  $warn-color-palette: map-get($theme, warn);
  $backgrounds: map-get($theme, background);

  $typography: material.mat-get-typography-config($theme);
  @if $typography != null {
    @include app-banner-typography($typography);
  }

  $density: material.mat-get-density-config($theme);
  @if $density != null {
    @include app-banner-density($density);
  }

  app-banner {
    background-color: material.mat-color($backgrounds, card);
    &.app-banner-success {
      background-color: material.mat-color($success-color-palette, lighter);
    }
    &.app-banner-info {
      background-color: material.mat-color($info-color-palette, lighter);
    }
    &.app-banner-warn {
      background-color: material.mat-color($warn-color-palette, lighter);
    }
    // Elevations/Shadows -> the same as class="mat-elevation-z24"
    // Other option that takes the material colors config: @include material.mat-private-theme-overridable-elevation(7, $theme-colors);
    @include material.mat-elevation(24, material.mat-color($warn-color-palette, lighter));
  }
}
