@use '~@angular/material/theming' as material;

@mixin app-banner-theme($theme) {
  $theme-colors: material.mat-get-color-config($theme);
  $success-color: map-get($theme, success);
  $background-color: material.mat-color($success-color, lighter);

  app-banner {
    background-color: $background-color;
  }
}
