@use "~@angular/material/theming" as material;

@mixin app-root-theme($theme) {
    $theme-colors: material.mat-get-color-config($theme);
    $backgrounds: map-get($theme, background);

    .content {
        background-color: material.mat-color($backgrounds, background);;
    }
}