@use "~@angular/material/theming" as material;

.content {
    padding: 20px;
    box-sizing: border-box;
    min-height: calc(100vh - #{material.$mat-toolbar-height-desktop});
}

.sort-area {
    margin-bottom: 20px;
}

.card {
    max-width: 220px;
}

.drop-down {
    margin: 15px 15px 0 0;
}

.spacer {
    flex: 1 1 auto;
} 